@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
   }
body{
    background: #fff;
}
.container{
    position: relative;
    width: 100%;   min-height: 100vh;
    background: url(https://mk0geketeyorgkvhgr38.kinstacdn.com/wp-content/uploads/2015/12/city-road-street-buildings-1024x673.jpg);
    background-size: 100% 100%;
}
.container::before{
    content: '';
    position: absolute;
    top: 0;  left: 0;
    background: #262626;
    width: 100%;  height: 100%;
    mix-blend-mode: hard-light;
}
.container .box{
    position: absolute;
    top: 50%;  left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;  min-height: 10vh;
    background: transparent;  color: #fff;
    padding: 50px 20px;
    box-sizing: border-box;
    transition: .9s;
}
.container .box:hover{
    background: rgba(255,255,255,.2);
}
.container .box h1{
    font-size: 40px;
    text-align: center;  
    text-transform: uppercase;
}
.container .box .row{
    width: 100%;
    margin: 25px 0;
    text-align: center;
}
.container .box .row input{
    border: none;   outline: none;
    width: 100%;
    padding: 13px 25px;
    border-radius: 30px;
    box-sizing: border-box;
    background: rgba(255,255,255,.4);   color: #fff;
    font-size: 18px;
}
::placeholder{
    color: #fff;
    text-transform: uppercase;
}
.container .box .row a{
    display: inline-block;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;  text-transform: uppercase;
    font-size: 18px;
}
.container .box .row a#login{
    background: #00bcd4;
    padding: 15px 0;
    border-radius: 50px; 
    width: 100%; 
}