$yellow-light: #f9f59e;
$yellow: #fbda7d;
$yellow-dark: #f7d75c;
$orange: #fdb90b;
$orange-dark: #f2ae00;
$brown: #dd8a34;

.main-content {


	max-width: 1000px;
    width: 100%;
    margin: 4em auto 0;
    overflow: hidden;
}

.title {
	background: $orange;
	color: #fff;
	padding: 30px 10px;
	grid-column: span 5;
	text-align: center;
	font: 72px/0.9 "Amatic SC", cursive;
	span {
		display: none;
		&:nth-child(1) {
			display: block;
		}
		@media screen and (max-width: 600px) {
			&:nth-child(1) {
				display: none;
			}
			&:nth-child(2) {
				display: block;
			}
		}
	}
}

.bingo-card {

    display: grid;
    grid-gap: 41px;
    grid-template-rows: repeat(5, 160px);
    grid-template-columns: repeat(5, 1fr);
    text-transform: uppercase;
	&__item {
		background: $yellow-light;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 1.35;
		user-select: none;
		&:after {
			content: "x";
			position: absolute;
			color: #fbda7d;
			opacity: 0;
			transition: 0.1s ease;
			height: 0;
			pointer-events: none;
			font: 108px "Caveat Brush", cursive;
			text-align: center;
			transform: rotate(2deg);
		}
		&.active:after {
			height: 100%;
			opacity: 0.7;
		}
	}
}

.bingo-card {
	&__item {
		padding: 15px;
		&.active .bingo-card__checkbox:before {
			content: "\2714";
			position: absolute;
			color: black;
			left: 0;
			top: -19px;
			color: $orange;
			font: 30px "Caveat Brush", cursive;
			
		}
	}
	&__checkbox {
		display: none;
	}
}

.clear-button {
	margin: 2em 0 0;
	font: 700 16px 'Nunito', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	border: 2px dotted;
	color: $orange;
	padding: 8px 10px;
	&:hover {
		color: $orange-dark;
	}
}

@media screen and (max-width: 600px) {
	// .main-content {
	// 	max-width: none;
	// 	margin: 0;
	// }
	// .title {
	// 	font: 50px/0.9 "Amatic SC", cursive;
	// 	padding: 20px;
	// }
	// .bingo-card {
	// 	grid-template-rows: repeat(24, auto);
	// 	grid-template-columns: auto;
	// 	margin: 1em;
	// }
	// .bingo-card__item {
	// 	justify-content: flex-start;
	// 	padding: 15px 15px 15px 40px;
	// 	text-align: left;
	// 	&:after {
	// 		content: "";
	// 		opacity: 0;
	// 	}
	// 	&:nth-child(13) {
	// 		display: none;
	// 	}
	// }
	// .bingo-card__checkbox {
	// 	display: inline;
	// 	position: absolute;
	// 	width: 20px;
	// 	height: 20px;
	// 	left: 10px;
	// 	border: 2px dashed $yellow-dark;
	// }
}

.animateActivep1{
	box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
	background-color: red;
	padding: 10px;
    border-radius: 10px;
}
.animateActivep2{
	box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
	background-color: green;

	padding: 10px;
    border-radius: 10px;
}



.outer-wrapper {
    // display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.big-text {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0;
    // padding: 0 0 0 1vw;
    /* color: var(--fg-color); */
    /* font-size: 26vmin; */
    /* line-height: 24vmin; */
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
	transition: color linear 1s;
	border-radius: 10px;
    padding: 10px 10px 10px;
	background-color: transparent;
	// color: #f9f59e;
}

.active{
	box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
	// background-color: red;
	padding: 10px;
    border-radius: 10px;
}


